type livedisplay_data_file, data_file_type, file_type;
type display_misc_file, file_type, data_file_type, core_data_file_type;
type sysfs_lcd_writable, sysfs_type, fs_type;
type sysfs_health, sysfs_type, fs_type;
type sysfs_sec_key, sysfs_type, fs_type;
#socket
type sysfs_battery_supply, sysfs_type, fs_type;
#touch
type sysfs_touchscreen, sysfs_type, fs_type;

